SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Set DB_ENGINE=mysql to use MySQL 8.0
DB_ENGINE=sqlite
DB_NAME=cloudclass
DB_USER=root
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=3306
