.venv/
__pycache__/
*.pyc
db.sqlite3
media/
staticfiles/
.env
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/CloudClass.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
